body {
  font-family: Arial, sans-serif;
  background-color: #f0f8f0; /* Світло-зелений фон */
  margin: 0;
  padding: 20px;
}

.container {
  background-color: #ffffff; /* Білий фон для контейнера */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 128, 0, 0.3);
  max-width: 600px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #2e8b2e; /* Темно-зелений заголовок */
  font-size: 2em;
}

label {
  margin-top: 15px;
  display: block;
  color: #2e8b2e; /* Темно-зелений текст */
  font-size: 1.2em;
}

input, textarea, select {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: 1px solid #2e8b2e; /* Темно-зелена рамка */
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.1em;
}

button {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  background-color: #2e8b2e; /* Темно-зелений фон кнопок */
  color: white; /* Білий текст */
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  background-color: #3cb371; /* Яскраво-зелений фон при наведенні */
}

.output {
  margin-top: 25px;
  padding: 15px;
  border: 1px solid #2e8b2e;
  background-color: #e9f9e9; /* Світло-зелений фон для виводу */
  border-radius: 5px;
  color: #2e8b2e;
  font-size: 1.1em;
}

.home-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  color: #2e8b2e;
  text-decoration: none;
}

.home-link:hover {
  text-decoration: underline;
}

/* Адаптація для мобільних пристроїв */
@media (max-width: 600px) {
  .container {
      padding: 20px;
      max-width: 100%; /* Займає всю ширину екрану */
  }

  h1 {
      font-size: 1.8em;
  }

  input, textarea, select {
      font-size: 1em;
      padding: 12px;
  }

  button {
      font-size: 1em;
      padding: 12px;
  }

  .home-link {
      font-size: 1.1em;
  }
}
/* Стиль кнопки для повернення на головну сторінку */
.home-button-container {
  text-align: center; /* Центрування кнопки */
  margin-top: 20px;
}

.home-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #2e8b2e; /* Темно-зелений фон кнопки */
  color: white; /* Білий текст */
  border-radius: 5px;
  text-decoration: none; /* Видалення підкреслення для тексту */
  font-size: 1.2em;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.home-button:hover {
  background-color: #3cb371; /* Яскраво-зелений при наведенні */
}
.form_logo {
  display: flex; /* Використання flex для центрування */
  justify-content: center; /* Центрування по горизонталі */
  align-items: center; /* Центрування по вертикалі (при потребі) */
  margin: 20px 0; /* Відступи для простору навколо секції */
}

.form_logo img {
  max-width: 100%; /* Обмеження ширини зображення */
  height: auto; /* Збереження пропорцій зображення */
  width: 250px; /* Задайте потрібну ширину (можна змінити) */
}
